<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._CFG_" version="1.0.7455.19770" targetFramework="net472" />
  <package id="_nilnul_._LIB_" version="1.0.7455.19774" targetFramework="net472" />
  <package id="_nilnul_._LINQ_" version="1.0.7455.19770" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="johnHurliman.math._calculus_._LIB_" version="1.0.1" targetFramework="net472" />
  <package id="MathNet.Iridium" version="1.0.1.32096" targetFramework="net472" />
  <package id="miroslavStampar.math._calculus_._LIB_" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="nilnul._bit_._LIB_" version="1.0.7455.33559" targetFramework="net472" />
  <package id="nilnul._character_._LIB_" version="2.0.7433.34403" targetFramework="net472" />
  <package id="nilnul._geometry_._LIB_" version="1.0.7426.37735" targetFramework="net472" />
  <package id="nilnul._num_._LIB_" version="1.0.7459.25990" targetFramework="net472" />
  <package id="nilnul._num_._LINQ_" version="1.0.7459.25623" targetFramework="net472" />
  <package id="nilnul._obj_._LIB_" version="1.0.7455.21898" targetFramework="net472" />
  <package id="nilnul._rel_._LIB_" version="1.0.7443.26595" targetFramework="net472" />
  <package id="nilnul._set_._LIB_" version="1.0.7442.42317" targetFramework="net472" />
  <package id="nilnul._txt_._LIB_" version="1.0.7448.39303" targetFramework="net472" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.0.7459.26269" targetFramework="net472" />
  <package id="nilnul.math._calculus_._LIB_" version="1.0.6756.4458" targetFramework="net472" />
  <package id="nilnul.num._integer_._LIB_" version="1.0.7423.19709" targetFramework="net472" />
  <package id="nilnul.num._quotient_._LIB_" version="1.0.7442.2557" targetFramework="net472" />
  <package id="nilnul.num._real_._LIB_" version="2.0.7459.29724" targetFramework="net472" />
  <package id="nilnul.num.real._func_._LIB_" version="1.0.2" targetFramework="net472" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.0.7319.40844" targetFramework="net472" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.6873.37823" targetFramework="net472" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>